main .about {
  
  &__bio-image {
    HEIGHT: 50vh;
    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: center;

    .about__bio {
      width: 80%;
      @media (min-width: 767px) {
        font-size: 1.5rem;
      }
      h2 {
        margin-bottom: 1rem;
      }
      p {
        margin-bottom: 2rem;
      }
    }
  }

  .jobs {
    background-color: $primary-color;
    padding: 2rem 0;


    .con {
      display: grid;
      gap: 2rem;
      width: 60%;
      margin: auto;
    }
    &__job {
      padding: 0.5rem;
      background-color: $accent-color;
      border-bottom: 5px solid $secondary-color;

      h2, h3 {
        margin: 0.5rem 0;
      }
    }
  }

  footer {
    align-items: flex-end;
    ul {
      flex-direction: column;
    }
    div {
      transform-origin: right;
      transform: rotate(90deg);
    }
  }
}