main .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 30vh;
  
  &__bio {
    h2 {
      font-size: 3rem;
      margin-bottom: 2rem;
      text-align: center;
    }
  }

  &__infos {
    display: grid;
    grid-gap: 2rem;
    text-align: center;
    @media (min-width:768px) {
      text-align: initial;
      grid-template-columns: 1fr 1fr;
    }
    @media (min-width:992px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .info {
      font-size: 1.5rem;
      div {
        margin-bottom: 2px;
      }
    }
  }
  footer {
    margin-top: 2rem;
    position: static;
    width: auto;
    padding: 0;
    div {
      position: fixed;
      bottom: 1rem;
      right: 1rem;
    }
  }
}
