@import "config" ;

/*start layout*/

body {
  background-color: $primary-color;
  color: set-text-color($primary-color);
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: linear-gradient(to right, rgba($primary-color, 0.9), rgba($primary-color, 0.3)),
  url(../img/model-1.jpg);
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
}


header {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 0;
  left: 0;
}


main {
  width: 100%;
  height: 100%;
  
  footer {
    position: fixed;
    bottom: 1rem;
    padding: 0 1rem;
    color: set-text-color($primary-color);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    ul {
      display: flex;
    }
    a {
      padding: 0.4rem;
      
      &:hover {
        color: $secondary-color;
        transition: $transition-icon;
      }
    }
  }
}

/*end layout*/

@import  "menu","home", "about", "project","contact";
